
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

ul li {
  font-size: 25px;
}

h1 {
  font-size: 40px;
}
.header{
  display: grid;
  grid-template-columns: 50fr 50fr;
}
.nav {
  grid-column: 1;  
}
.image {
  grid-column: 2;
  text-align: center;
}
