
h2 {
  text-align: center;
  font-size: 35px;
  color: #0000CD;
  font-family: cursive;
}

h3 {
  color: #191970;
  margin: 10px;
}
span {
  margin-right: 15px;
}
ul {
  display:table;
  text-align: center;
}
 
.header li{
  display: table-row;
  vertical-align:middle;
  text-align: center;
}

.divApp {
  text-align: center;
  display: grid;
  grid-template-columns: 60fr 40fr;
  margin-top: 20px;
}

.divDel {
  grid-column: 1;
  

}

.divAdd {
  grid-column: 2;
  text-align: center;
}

.filterInput{
    margin: 0;
    padding: 0;
    width: 100%;
}
 
.filterTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    font: 7pt tahoma;
    border-color: #000000;
    text-align: center;
}
