
* {
  box-sizing: border-box;
}

body {
  padding-top: 0;
  font-family: Helvetica Neue, Helvetica;
  background: #f7f7f7;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

input {
  display: block;
  width: 150px;
  font-size: 13px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

 input.error {
  border-color: red;
}

 button {
  display: block;
  width: 120px;
  appearance: none;
  border-radius: 5px;
  background-color: #84c00c;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

button:hover {
  background-color: #669509;
}

button:disabled {
  background-color: #dbf99f;
  color: #333;
}

.divApp {
  text-align: center;
  display: grid;
  grid-template-columns: 50fr 50fr;
}

.divAddR {
  grid-column: 1;
  text-align: center;

}

.divAddI {
  grid-column: 2;
  text-align: center;
}